.section3 {
    height: 100svh;
    position: relative;
}
.section3-container {
    width: 100%;
    height: 100svh;
    display: grid;
    grid-template-columns: repeat(5, 25%);
    grid-template-rows: 100%;
    overflow-x:scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.section3-page {
    position: relative;
    cursor: pointer;
}
.section3-page:hover i {
    transform: scale(1);
}
.section3-page:hover .overlay {
    backdrop-filter: brightness(0.65);
}
.section3-page:hover p {
    opacity: 0;
}
.section3 button {
    padding: 0.5rem 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--barlow);
    text-transform: uppercase;
    color: var(--white-color);
    background: transparent;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background 400ms, color 200ms;
}
.s3-prev {
    left: 4rem;
}
.s3-next {
    left: calc(100% - 4rem);
}
.section3 button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--gold-color);
}
.section3 button:hover i {
    color: var(--white-color);
}
.section3 span i {
    font-family: unset;
    transition: color 400ms;
}
.overlay {
    padding: 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-family: var(--barlow);
    text-transform: uppercase;
    backdrop-filter: brightness(0.3);
    color: var(--white-color);
    transition: backdrop-filter 400ms;
}
.overlay h3 {
    width: 70%;
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    font-weight: 500;
    line-height: 1;
}
.overlay i {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(210, 180, 7, 0.5);
    border-radius: 50%;  
    transform: scale(0);
    transform-origin: center;
    transition: transform 200ms;
}
.overlay p {
    position: absolute;
    bottom: 5%;
    left: 10%;
    font-size: clamp(0.7rem, 0.7rem + 0.5vw, 1.2rem);
    font-weight: 400;
    letter-spacing: 0.5rem;
    transform: rotateZ(-90deg);
    transform-origin: 0% 50%;
    transition: opacity 400ms;
}
.section3-page1 {
    background: url(../Images/page1.jpeg) 50% 0;
    background-size: cover;
}
.section3-page2 {
    background: url(../Images/section31.jpeg) 50% 0;
    background-size: cover;
}
.section3-page3 {
    background: url(../Images/section32.jpeg);
    background-size: cover;
}
.section3-page4 {
    background: url(../Images/section33.jpeg) 100% 0;
    background-size: cover;
}
.section3-page5 {
    background: url(../Images/section34.jpeg) 50% 0;
    background-size: cover;
}
